@model ReaderFast.webui.ViewModels.ExerciseDayViewModel

@{
    ViewData["Title"] = "Create Exercise Day";
}

<h1>Create Exercise Day</h1>

<form asp-action="CreateExerciseDay" method="post">
    <div class="form-group">
        <label asp-for="DayNumber" class="control-label"></label>
        <input asp-for="DayNumber" class="form-control" />
        <span asp-validation-for="DayNumber" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsDayPremium" />
        <label class="form-check-label" asp-for="IsDayPremium"></label>
        <span asp-validation-for="IsDayPremium" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" asp-for="IsDayCompleted" />
        <label class="form-check-label" asp-for="IsDayCompleted"></label>
        <span asp-validation-for="IsDayCompleted" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<!-- ... form HTML'i ... -->
<!-- Günlerin Listesi -->
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Day Number</th>
            <th>Is Premium</th>
            <th>Is Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model.ExerciseDays)
        {
            <tr>
                <td>@day.Id</td>
                <td>@day.DayNumber</td>
                <td>@day.IsDayPremium</td>
                <td>@day.IsDayCompleted</td>
                <td>
                    <a asp-action="EditExerciseDay" asp-route-id="@day.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="DeleteExerciseDay" asp-route-id="@day.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>